<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kimlikk_uygulamasi.Properties.Settings.kimlik_kartiiConnectionString"
            connectionString="Data Source=UMUR-DESKTOP;Initial Catalog=kimlik_kartii;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kimlikk_uygulamasi.Properties.Settings.kimlik_kartiiConnectionString1"
            connectionString="Data Source=DESKTOP-4VOD4RV\SQLEXPRESS01;Initial Catalog=kimlik_kartii;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>